.add_trans {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 2rem 0 4rem 0;
  border-radius: 10px;
  box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.5);
}

.add_trans p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.trans_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  width: 300px;
}

.trans_form label,
.trans_form button {
  margin-top: 1rem;
}

.trans_form input {
  border: none;
  border-bottom: 1px solid black;
  margin-left: 1rem;
  width: 150px;
}

#trans_value {
  width: 5rem;
}
.trans_form input:focus {
  background-color: lightgoldenrodyellow;
}
#submit {
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: green;
  color: white;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
}

#submit:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}
.error {
  color: red;
  display: block;
  font-size: 14px;
}
