.flex {
  display: flex;
  justify-content: center;
}
.nav_list {
  display: grid;
  grid-template-columns: 0.5fr 2fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  font-weight: bold;
  text-align: center;
}

.lp,
.trans_name,
.euro,
.pln,
.delete {
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.odd {
  background-color: lightgreen;
}
.even {
}

.euro,
.pln {
  text-align: right;
}
.lp {
  text-align: center;
}

.trans_list {
  margin-right: 2rem;
}
.trans_list p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}
